{# Formulaire des commentaires #}
<div class="container-commentaires">
	<h2>Liste des commentaires</h2>
	<div class="liste-commentaires">
		<div class="wrapper-commentaire">
			{% for c in commentaires %}
				{% if c.parent == null %}
					<div class="contenu-commentaire">
						<div class="entete-commentaire">
							<p class="note-visiteur">
								<i class="fa-regular fa-heart"></i>Apréciation (note) :
								{{c.note}}/10</p>
							<p class="publication-par">Publié par
								<strong>{{c.pseudo}}</strong>
								<span>le
									{{c.createdAt|date("d-m-Y à H:i:s")}}</span>
							</p>
						</div>
						<div class="texte-commentaire">{{c.contenu|raw}}</div>
						<p>
							<a class="btn-repondre" href="#ajout-commentaire" data-reply data-id="{{c.id}}">
								<i class="fa-solid fa-reply"></i>Répondre</a>
						</p>
					</div>
					{# Affichage des réponses #}
					{% for reponse in c.reponses %}
						<div class="reponse">
							<p>Réponse publiée par
								{{reponse.pseudo}}
								le
								{{reponse.createdAt|date("d-m-Y à H:i:s")}}</p>
							<div class="contenu-reponse">
								--
								{{reponse.contenu|raw}}
								<p>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			{{ form_start(commentForm)}}
			<div class="form-header">Ajouter un commentaire</div>
			{{ form_row(commentForm.note)}}
			{{ form_row(commentForm.email)}}
			{{ form_row(commentForm.pseudo)}}
			{{ form_row(commentForm.contenu)}}
			{{ form_row(commentForm.rgpd)}}
			<p class="alerte-publication-commentaire">Un commentaire ne sera publié qu'après acceptation de la part de nos modérateurs.Vous ne le verrez donc pas forcément immédiatement sur cette section...</p>
			{{ form_end(commentForm)}}
		</div>
	</div>


</div>
{% block javascripts %}
	<script src="{{asset('assets/js/commentaires.js')}}" defer></script>
	<script src="{{asset('assets/js/ckeditor.js')}}" defer></script>
{% endblock %}
