{% for vehicule in vehicules %}
	<table>
		<tbody>
			<tr>
				<td>
					{# Gestion des photos #}
					{% if vehicule.photos[0] is defined %}
						<a href="{{path('app_vehicules_annonces_details_vehicule',{id:vehicule.id})}}"><img class="mini-thumbnail" src="{{asset('assets/uploads/vehicules/mini/300x300-'~ vehicule.photos[0].nom)}}" alt="{{vehicule.photos[0].nom}}"></a>
					{% endif %}
				</td>
				<td>
					<strong>{{vehicule.marque}}</strong>
				</td>
				<td>{{vehicule.modele}}</td>
				<td>{{vehicule.prixvente}}
					€</td>
				<td>
					<a class="btn btn-primary" href="{{path('app_vehicules_annonces_details_vehicule',{id:vehicule.id})}}">Fiche</a>
				</td>
			</tr>
		</tbody>
	</table>
{% endfor %}
