<header>
	{% if homepage.logo is not null %}
		<div class="entreprise">
			<a class="logo-entreprise" href="#" class="navbar-brand" aria-label="Logo"><img src="{{asset('assets/uploads/logo/' ~ homepage.logo)}}" alt="Logo entreprise" style="height:50px;"></a>
			<h1 class="nom-entreprise">{{entreprise.nomEntreprise}}</h1>
		</div>
	{% else %}
		<div class="entreprise">
			<i class="fa-solid fa-truck-pickup icone-entreprise"></i>
			<h1 class="nom-entreprise">{{entreprise.nomEntreprise}}</h1>
		</div>
	{% endif %}

	{% if entreprise.tel1 is not null %}
		<div class="telephone">
			<i class="fa-solid fa-phone icone-telephone"></i>
			<a class="telephone-entreprise" href="tel:" {{entreprise.tel1}}>{{entreprise.tel1}}</a>
		</div>
	{% endif %}
</header>
