<header>

	<h1>
		<i class="fa-solid fa-truck-pickup"></i>Garage Parrot Toulouse</h1>
	<h2 class="telephone">
		<i class="fa-solid fa-phone"></i><a href="tel:01.02.03.04.05">Tél : 01.02.03.04.05</a>
	</h2>

	{# {{render(controller('App\\Controller\\HeaderController::afficher'))}} #}
	{# <div class="brand">
			{% if homepage.logo is not null%}
				<a href="#" class="navbar-brand" aria-label="Logo"><img src="{{asset('assets/uploads/logo/' ~ homepage.logo)}}" alt="Logo entreprise" style="height:50px;"></a>
			{% else %}
				<span class="logo">
					<i class="fa-solid fa-truck-pickup"></i>
				</span>
				<p>{{entreprise.nomEntreprise}}</p>
			{% endif %}
		</div> #}

</header>

{# {{homepage.logo}}{{entreprise.nomEntreprise}} #}
