{% extends 'base.html.twig' %}
{% block body %}
	<main>
		<div class="modal" id="modale-contact">
			<div class="modal-header"></div>
			<div class="divider"></div>

			<div class="modal-content">
				{{form_start(form)}}
				<div class="form-header">Contacter le service
					{{nomService}}
				</div>
				{{form_row(form.subject)}}
				{{form_row(form.email)}}
				{{form_row(form.telContact)}}
				{{form_row(form.message)}}

				<button type="submit" class="btn btn-primary btn-centered">Envoyer</button>
			</div>
			{{form_end(form)}}
			<div class="divider"></div>
			<div
				class="modal-footer">{# <button class="btn btn-secondary btn-right modal-trigger" data-target="modale-contact">Fermer</button> #}
			</div>

		</div>
	</main>
{% endblock %}
