<nav class="navbar">
	{{render(controller('App\\Controller\\Admin\\NavBarController::index'))}}

	<div class="brand">
		{% if homepage.logo is not null%}
			<a href="#" class="navbar-brand" aria-label="Logo"><img src="{{asset('assets/uploads/logo/' ~ homepage.logo)}}" alt="Logo entreprise" style="height:50px;"></a>
		{% else %}
			<span class="logo">
				<i class="fa-solid fa-truck-pickup"></i>
			</span>
			<p>{{nomEntreprise}}</p>
		{% endif %}
	</div>
	<button type="button" class="menu-hamburger" aria-label="Toggle navigation" aria-expanded="false">
		<span></span>
		<span></span>
		<span></span>
	</button>

	<div class="menu-navbar">
		<div class="div-links">
			<ul class="navbar-nav">
				<li class="active nav-item">
					<i class="fa-solid fa-house"></i>
					<a href="{{path('app_index')}}" aria-label="Accueil" aria-current="page">Accueil</a>
				</li>
				<li class="nav-item">
					<i class="fa-regular fa-clock"></i>
					<a href="{{path('app_horaires_semaine_index')}}" aria-label="Horaires">Nos horaires</a>
				</li>
				<li class="nav-item">
					<i class="fa-solid fa-car-side"></i>
					<a href="{{path('app_vehicules_annonces_index')}}" arai-label="Annonces véhicules occasion">Annonces véhicules d'occasion</a>
				</li>
				<li class="nav-item">
					<i class="fa-solid fa-screwdriver-wrench"></i>
					<a href="{{path('app_services_index')}}" aria-label="Services">Nos services</a>
				</li>
				<li class="nav-item">
					<i class="fa-solid fa-phone"></i>
					<a href="">Nous contacter</a>
				</li>
			</ul>
		</div>

		<div class="div-connexion">
			<ul class="navbar-nav">
				{% if app.user %}
					{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_EMPLOYEE") %}
						<li class="nav-item">
							<i class="fa-solid fa-toolbox"></i>
							<a href="{{path('app_admin_index')}}">Administration</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>
						<a href="{{path('app_logout')}}">Se déconnecter</a>
					</li>
					{% if is_granted("ROLE_USER") %}
						<li class="nav-item">
							<i class="fa-regular fa-id-card"></i>
							<a href="{{path('app_utilisateurs_profil')}}">Mon profil</a>
						</li>
					{% endif %}
				{% else %}
					<li class="nav-item user-toggler">
						<i class="fa-solid fa-user"></i>
						<a href="#" aria-label="Page de connexion" alt="Icône utilisateur"></a>
					</li>
					<li class="nav-item connexions">
						<i class="fa-solid fa-arrow-right-to-bracket"></i>
						<a href="{{path('app_login')}}">Se connecter</a>
					</li>
					<li class="nav-item connexions">
						<i class="fa-regular fa-address-card"></i>
						<a href="{{path('app_register')}}">S'inscrire</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
