<nav class="navbar">
	<div class="brand">
		<a href="" class="navbar-brand">Logo</a>
	</div>

	<div class="menu-navbar">
		<div class="div-links">
			<ul class="navbar-nav">
				<li class="active nav-item">
					<i class="fa-solid fa-house"></i>
					<a href="{{path('app_index')}}">Accueil</a>
				</li>
				<li class="nav-item">
					<i class="fa-regular fa-clock"></i>
					<a href="{{path('app_horaires_semaine_index')}}">Nos horaires</a>
				</li>
				<li class="nav-item">
					<i class="fa-solid fa-car-side"></i>
					<a href="{{path('app_vehicules_annonces_index')}}">Annonces véhicules d'occasion</a>
				</li>
				<li class="nav-item">
					<i class="fa-solid fa-screwdriver-wrench"></i>
					<a href="{{path('app_services_index')}}">Nos services</a>
				</li>
				<li class="nav-item">
					<i class="fa-solid fa-phone"></i>
					<a href="">Nous contacter</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="div-connexion">
		<ul class="navbar-nav">
			{% if app.user %}
				{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_EMPLOYEE") %}
					<li class="nav-item">
						<i class="fa-solid fa-toolbox"></i>
						<a href="{{path('app_admin_index')}}">Administration</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<i class="fa-solid fa-arrow-right-from-bracket"></i>
					<a href="{{path('app_logout')}}">Se déconnecter</a>
				</li>
				{% if is_granted("ROLE_USER") %}
					<li class="nav-item">
						<i class="fa-regular fa-id-card"></i>
						<a href="{{path('app_utilisateurs_profil')}}">Mon profil</a>
					</li>
				{% endif %}
			{% else %}
				<li class="nav-item">
					<i class="fa-solid fa-arrow-right-to-bracket"></i>
					<a href="{{path('app_login')}}">Se connecter</a>
				</li>
				<li class="nav-item">
					<i class="fa-regular fa-address-card"></i>
					<a href="{{path('app_register')}}">S'inscrire</a>
				</li>
			{% endif %}
		</ul>
	</div>

	<input type="checkbox" id="hamburger-menu" aria-label="hamburger-menu"/>
	<label for="hamburger-menu">
		<i class="fa-solid fa-bars"></i>
	</label>
</nav>
