{% if services %}
	<div class="cards-container">
		{% for service in services %}
			<div class="card card-services">
				<div class="icone-service">
					<i></i>
				</div>
				<p class="card-title">{{service.nom}}</p>
				<p class="card-text">{{service.resume|u.truncate(60)}}
					<a class="card-view-link" href="{{path('app_services_fiche_service',{id:service.id,slug:service.slug})}}">Voir détails...</a>
				</p>
				<p class="card-price">A partir de
					{{service.prixapartirde}}
					€</p>

				<p class="contact-service-par-mail">
					<a href="{{path('app_contact_par_mail_envoyer_mail',{id:service.id,slug:service.slug})}}">Contacter par mail</a>
				</p>
				<p class="contact-service-par-telephone">
					Tel : {{service.telephone1}}</p>
		</div>
	{% endfor %}
</div>{% else %}
<p>Aucun service n'est encore enregistré dans la base.</p>{% endif %}
