{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	<div class="main">
		<h1 class="titre-principal">Formulaire d'inscription</h1>

		{{ form_start(registrationForm) }}
<fieldset>
<legend>Mon identité</legend>
		{{ form_row(registrationForm.nom) }}
		{{ form_row(registrationForm.prenom) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
</fieldset>

<fieldset>
<legend>Mes coordonnées</legend>
		{{ form_row(registrationForm.adresse) }}
		{{ form_row(registrationForm.code_postal) }}
		{{ form_row(registrationForm.ville) }}
</fieldset>

		{{ form_row(registrationForm.RGPDConsent) }}
		<button type="submit" class="btn btn-primary btn-centered">S'inscrire</button>
		{{ form_end(registrationForm) }}
		
	</div>
{% endblock %}
