{% extends "base.html.twig" %}
{% block title %}Détails véhicule
{% endblock %}
{% block body %}
	<div class="main">
		<h1 class="titre-principal">Fiche véhicule</h1>

		<a class="btn btn-go-back" href="{{path('app_vehicules_liste_vehicules')}}">Revenir à la liste</a>

		{{ include('_partials/_galerie-photos.html.twig') }}

		{# Fiche de détails véhicule #}
		<table class="table fiche-vehicule">
			<thead>
				<th>
					<a class="btn btn-primary" href="{{path('app_vehicules_modifier_vehicule',{id:vehicule.id})}}">Editer la fiche</a>
				</th>
				<th>
					<a href="#" class="btn btn-danger">Supprimer ce véhicule</a>
				</th>
			</thead>
		
			<tbody>

				<tr>
					<td class="table-label">Reference interne</td>
					<td>
						<strong>{{vehicule.referenceinterne}}</strong>
					</td>
				</tr>

				<tr>
					<td class="table-label">Marque</td>

					<td>
						<strong>{{vehicule.marque}}</strong>
					</td>
				</tr>
				<tr>
					<td class="table-label">Modèle</td>

					<td>{{vehicule.modele}}</td>
				</tr>
				<tr>
					<td class="table-label">Kilomètrage</td>

					<td>{{vehicule.kilometrage}}</td>
				</tr>
				<tr>
					<td class="table-label">Plaque immatriculation</td>

					<td>{{vehicule.plaqueimmatriculation}}</td>
				</tr>

				<tr>
					<td class="table-label">Propietaire</td>

					<td>
						<a href="#">{{vehicule.proprietaire.nom}}
							{{vehicule.proprietaire.prenom}}</a>
					</td>

				</tr>

				<tr>
					<td class="table-label">Motorisation</td>

					<td>{{vehicule.motorisation}}</td>
				</tr>
				<tr>
					<td class="table-label">Cylindree</td>

					<td>{{vehicule.cylindree}}</td>
				</tr>
				<tr>
					<td class="table-label">Nbre portes</td>

					<td>{{vehicule.nbportes}}</td>
				</tr>
				<tr>
					<td class="table-label">Prix vente</td>

					<td>{{vehicule.prixvente}}
						€</td>
				</tr>
				<tr>
					<td class="table-label">Couleur</td>

					<td>{{vehicule.couleur}}</td>
				</tr>
				<tr>
					<td class="table-label">Date mise en circulation</td>

					<td>{{vehicule.datemiseencirculation}}</td>
				</tr>
				<tr>
					<td class="table-label">Date mise en vente</td>

					<td>{{vehicule.datemiseenvente}}</td>
				</tr>
				<tr></tr>
				<tr>
					<td class="table-label">Date controle technique</td>

					<td>{{vehicule.datecontroletechnique}}</td>
				</tr>
				<tr>
					<td class="table-label">Nbre places</td>

					<td>{{vehicule.datemiseenvente}}</td>
				</tr>
				<tr>
					<td class="table-label">Type véhicule</td>

					<td>{{vehicule.typevehicule}}</td>
				</tr>
				<tr>
					<td class="table-label">Type boîte</td>

					<td>{{vehicule.boite}}</td>
				</tr>
				<tr>
					<td class="table-label">N° chassis</td>

					<td>{{vehicule.numchassis}}</td>
				</tr>
				<tr>
					<td class="table-label">Nbr propriétaires</td>

					<td>{{vehicule.nbproprietaires}}</td>
				</tr>
				<tr>
					<td class="table-label">Chevaux / puissance</td>

					<td>{{vehicule.chevauxfiscaux}}cv/({{vehicule.chevauxdin}}
						din.)</td>
				</tr>
				<tr>
					<td class="table-label">Remarques</td>

					<td>{{vehicule.remarques}}</td>
				</tr>
				<tr>
					<td class="table-label">Localisation</td>

					<td>{{vehicule.localisation}}</td>
				</tr>
				<tr>
					<td class="table-label">Critère pollution / energétique</td>

					<td>{{vehicule.criterepollution}}</td>
				</tr>

			</tbody>
		</table>

		{# Liste d'options du véhicule #}
		{# <table class="table liste-options-vehicules">
			<tbody>
				{% for option in vehicule.listeOptionsVehicule %}
					{% if option %}
							{{dump(option)}}	
						<tr>
							<td>Option :
								{{option}}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table> #}

	{% endblock %}
