{% extends "base.html.twig" %}
{% block title %}Liste des véhicules
{% endblock %}
{% block body %}


	<div class="main">

		<h1 class="titre-principal">Liste des véhicules</h1>
		<a href="{{path('app_vehicules_creer_vehicule')}}" class="btn btn-primary">Créer un nouveau véhicule</a>

		<p>Total véhicules dans la base =
			{{totalVehicules}}</p>
		<p>Résultats filtre actif =
			{{totalVehiculesFiltered}}</p>

		{# Filtre multicritère : #}
		<div class="filtres">
			<p>Filtrer</p>
			<form id="filters" class="filtersForm">
				{% for  type in typesVehicules %}

					<input type="checkbox" name="types[]" id="types{{type.id}}" value="{{type.id}}">
					<label for="types{{type.id}}">{{type.nomtype}}</label>

				{% endfor %}
				<input type="hidden" name="page" value="{{page}}">
			</form>
		</div>

		<div
			class="cards-container" id="content">

			{# Contenu généré en Ajax #}
			{{ include('vehicules/_content.html.twig') }}
		</div>
	{% endblock %}

	{% block javascripts %}
		<script src="{{asset('assets/js/filters.js')}}" defer></script>
	{% endblock %}
