{% extends "base.html.twig" %}
{% block title %}Liste des véhicules
{% endblock %}
{% block body %}

	<div class="main">

		<h1 class="titre-principal">Liste des véhicules</h1>
		<a href="{{path('app_vehicules_creer_vehicule')}}" class="btn btn-primary">Créer un nouveau véhicule</a>

		<p>Total véhicules dans la base =
			{{totalVehicules}}</p>
		<p>Résultats filtre actif =
			{{totalVehiculesFiltered}}</p>
		<div
			class="wrapper">
			{# Filtre multicritère : #}
			<div class="filtres">

				<form
					id="filters" class="filtersForm">

					{# Filtre sur type de véhicule #}
					<fieldset>
						<legend>Type :</legend>
						{% for  type in typesVehicules %}

							<input type="checkbox" name="types[]" id="types{{type.id}}" value="{{type.id}}" class="filtreTypes">
							<label for="types{{type.id}}">{{type.nomtype}}</label>

						{% endfor %}
					</fieldset>

					{# Filtre sur marques de véhicules #}
					<fieldset>
						<legend>Marque :</legend>
						{% for  marque in marquesVehicules %}

							<input type="checkbox" name="marques[]" id="marques{{marque.id}}" value="{{marque.id}}" class="filtreMarques">
							<label for="marques{{marque.id}}">{{marque.marque}}</label>

						{% endfor %}
					</fieldset>
					<fieldset>
						<legend>Choix</legend>
						<div class="slidecontainer">
							<p>Prix Max. :
								<span id="prixMax"></span>
								€</p>
							<input type="range" name="prixMax" min="{{prixMin}}" max="{{prixMax}}" value="50" class="slider" id="sliderPrix">
						</div>
						<div class="slidecontainer">
							<p>Kilométrage Max. :
								<span id="kmMax"></span>
								km.</p>
							<input type="range" name="kmMax" min="{{kmMin}}" max="{{kmMax}}" value="50" class="slider" id="sliderKM">
						</div>
					</fieldset>
					<input type="hidden" name="page" value="{{page}}">
				</form>
			</div>

			<div
				class="cards-container" id="content">

				{# Contenu généré en Ajax #}
				{{ include('vehicules/_content.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/filters.js')}}" defer></script>
{% endblock %}
