{% extends "base.html.twig" %}
{% block title %}Liste des véhicules
{% endblock %}
{% block body %}
	<div class="main">
		<h1 class="titre-principal">Liste des véhicules</h1>
		<a href="{{path('app_vehicules_creer_vehicule')}}" class="btn btn-primary">Créer un nouveau véhicule</a>
		<div class="cards-container">
			{% for v in vehicules %}
				<div class="card-vehicule">
					<div class="photo-miniature">
						{% if v.photos[0] is defined %}
							{{v.photos[0]}}
						{% endif %}
					</div>
					<div class="card-title">
						<p>
							<strong>{{v.marque}}</strong>
							{{v.modele}}</p>
					</div>
					<div class="card-text">
						<p>{{v.kilometrage}}
							km.</p>
						<p>{{v.prixvente}}
							€</p>
						<p>{{v.datemiseencirculation|date("d-m-Y")}}</p>
						<a class="btn btn-primary btn-voir-details" href="{{path('app_vehicules_details_vehicule',{id:v.id})}}">Voir détails</a>
						
						{# Affiche un bouton différent suivant si l'annonce a été publiée ou pas. #}
						{% if v.publicationannonce %}
						<a class="btn btn-danger btn-supprimer-annonce" href="{{path('app_vehicules_retirer_annonce',{id:v.id})}}">Retirer annonce</a>
						{% else %}
						<a class="btn btn-primary btn-publier-annonce" href="{{path('app_vehicules_publier_annonce',{id:v.id})}}">Publier annonce</a>							
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
