{% extends "base.html.twig" %}
{% block title %}Fiche utilisateur
{% endblock %}
{% block body %}
	<main>
		<h1 class="titre-principal">Fiche Utilisateur</h1>
		<a href="{{path('app_utilisateurs_liste_utilisateurs')}}" class="btn btn-go-back">Revenir à la liste</a>
		<table>
			<thead>
				<th colspan="2">
					<strong>{{user.nom}}
						{{user.prenom}}</strong>
				</th>
			</thead>

			{% if user.roles %}
				<td class="table-label">Rôles :</td>
				<td>
					{% for role in user.roles %}
						{{role}}
					{% endfor %}
				</td>
			{% endif %}
			<tr>
				<td class="table-label">
					<p>E-mail :</p>
				</td>
				<td>
					<p>
						<a href="#">{{user.email}}</a>
					</p>
				</td>
			</tr>
			<tr>
				<td class="table-label">
					Adresse :					
				</td>
				<td>
					<p>{{user.adresse}}</p>
				</td>
			</tr>
			<tr>
				<td class="table-label">Code postal :
				</td>
				<td>
					<p>{{user.codepostal}}</p>
				</td>
			</tr>
			<tr>
				<td class="table-label">Ville :
				</td>
				<td>
					<p>{{user.ville}}</p>
				</td>
			</tr>
			<tr>
				<td class="table-label">Fixe :
				</td>
				<td>
					<p>{{user.telfixe}}</p>
				</td>
			</tr>
			<tr>
				<td class="table-label">Mobile :
				</td>
				<td>
					<p>{{user.telmobile}}</p>
				</td>
			</tr>
		</table>
	</main>
{% endblock %}
