<h1 class="titre-principal">Contact service {{service}}</h1>

<p>Message : {{message|raw}}</p>
<p>Demande d'information sur l'annonce du véhicule : {{vehicule}}</p>
<p>Référence {{ref}}</p>
<p>Télephone de contact client : {{telContact}}</p>

