{% extends "base.html.twig" %}
{% block title %}Liste des véhicules
{% endblock %}
{% block body %}

	<main>

		<h1 class="titre-principal">Liste des véhicules d'occasion</h1>

		{% if is_granted(['ROLE_ADMIN']) %}
			<a href="{{path('app_vehicules_creer_vehicule')}}" class="btn btn-primary">Créer un nouveau véhicule</a>
		{% endif %}
		{# 
														<p class="resultat-filtre">Total véhicules dans la base =
															{{totalVehicules}}</p>
														<p class="resultat-filtre">Résultats filtre actif =
															{{totalVehiculesFiltered}}</p> #}

		<div
			class="wrapper">
			{# Filtre multicritère : #}
			<div class="filtres">
				<input type="checkbox" name="show-filters" id="show-filters">
				<label for="show-filters">Filtres</label>

				<form id="filters" class="filtersForm">
					<fieldset>
						<legend>Filtre :</legend>
						<select type="select" class="selectFiltreSimple" name="selectFiltreSimple">
							<option value="" disabled selected>Sélectionner un filtre</option>
							<option value="Prix descendant">Prix descendant</option>
							<option value="Prix ascendant">Prix ascendant</option>
							<option value="Kilométrage descendant">Kilométrage descendant</option>
							<option value="Kilométrage ascendant">Kilométrage ascendant</option>
							<option value="Ancienneté descendant">Kilométrage ascendant</option>
							<option value="Ancienneté ascendant">Kilométrage ascendant</option>
						</select>
					</fieldset>

						{# Filtre intervalle kilomètrage #}
					<fieldset>
						<legend>Par intervalles</legend>
						<div class="wrapper-filtres-intervalle">
							<div class="input-intervalle">
								<label for="kmMin">Km min.</label>
								<input type="number" name="kmMin" id="kmMin" min="0" max="99999999" value="0">
							</div>
							<div class="input-intervalle">
								<label for="kmMax">Km max.</label>
								<input type="number" name="kmMax" id="kmMax" min="1" max="10000000" value="10000000">
							</div>
						</div>

						{#Filtre intervalle prix #}
						<div class="wrapper-filtres-intervalle">
							<div class="input-intervalle">
								<label for="prixMin">Prix min.</label>
								<input type="number" name="prixMin" id="prixMin" min="0" max="499000" value="0">
							</div>
							<div class="input-intervalle">
								<label for="prixMax">Prix max.</label>
								<input type="number" name="prixMax" id="prixMax" min="1" max="500000" value="500000">
							</div>
						</div>

						{# Filtre intervalle ancienneté #}
						{# <div class="wrapper-filtres-intervalle">
							<div class="input-intervalle">
								<label for="yearMin">Année min.</label>
								<input type="number" name="yearMin" id="yearMin">
							</div>
							<div class="input-intervalle">
								<label for="yearMax">Année max.</label>
								<input type="number" name="yearMax" id="yearMax">
							</div>
						</div> #}
					</fieldset>
					{# Filtre sur type de véhicule #}
					<fieldset>
						<legend>Par type :</legend>
						{% for  type in typesVehicules %}
							<div class="wrapper-input">
								<input type="checkbox" name="types[]" id="types{{type.id}}" value="{{type.id}}" class="filtreTypes">
								<label for="types{{type.id}}">{{type.nomtype}}</label>
							</div>
						{% endfor %}
					</fieldset>

					{# Filtre sur marques de véhicules #}
					<fieldset>
						<legend>Par marque :</legend>
						{% for  marque in marquesVehicules %}
							<div class="wrapper-input">
								<input type="checkbox" name="marques[]" id="marques{{marque.id}}" value="{{marque.id}}" class="filtreMarques">
								<label for="marques{{marque.id}}">{{marque.marque}}</label>
							</div>
						{% endfor %}
					</fieldset>

					<input type="hidden" name="page" value="{{page}}">
				</form>
			</div>

			<div
				class="cards-container" id="content">

				{# Contenu généré en Ajax #}
				{{ include('admin/vehicules/_content.html.twig') }}
			</div>
		</div>

	</main>
	{% block javascripts %}
		<script src="{{asset('assets/js/annonces.js')}}" type="module" defer></script>
		<script src="{{asset('assets/js/filters.js')}}" type="module" defer></script>
	{% endblock %}
{% endblock %}
