{% extends "base.html.twig" %}
{% block title %}Liste des types de véhicules
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('_partials/_admin-nav.html.twig') }}
		<main>

			<h1 class="titre-principal">Liste des types de véhicules</h1>

			{% if typesvehicules %}
				<table>
					<thead>
						<th colspan="4">
							<a class="btn btn-primary btn-centered" href="{{path('app_vehicules_types_vehicules_creer')}}">Créer nouveau type</a>
						</th>
					</thead>
					<tbody>
						{% set i = 0 %}
						{% for tv in typesvehicules %}
							<tr>
								<td>{{i}}.
								</td>
								<td>
									<strong>{{tv.nomtype}}</strong>
								</td>
								<td>
									<a href={{path('app_vehicules_types_vehicules_modifier',{id:tv.id} )}} class="btn btn-warning">Modifier</a>
								</td>
								<td>
									<a href={{path('app_vehicules_types_vehicules_supprimer',{id:tv.id} )}} class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
							{% set i = i+1 %}
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>Aucun type de véhicule n'est encore présent dans la base.</p>

			{% endif %}

		</main>
	</div>
{% endblock %}
